.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matrix-body {
    display: flex;
    flex-direction: column;
}

.matrix-row {
    display: flex;
}

.matrix-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

input {
    width: 100px;
}